.topHeading{
color: #6D3507;
font-family: 'Lilita One';
background-color: #DEEEDB;
text-align: center;
padding-left: 110px;
padding-right:110px;
position: relative;
top: -20px;

}

.line{
padding-left:100px;

}


.topText{
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 30px;

}



hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #393E46;
  border-width: 5px;
  width: 75%;
  position: absolute;
  top: 90px;
  padding-left: 50px;
  margin-top: 25px;
}

h1{
  color: #6D3507;
}

.leftPanel{
  display: block;

}

table{
  border-collapse: collapse;
  border: 2px;
}
table, th{
  border: 2px solid black;
  background-color: #D35606;

}

.bottomLine{

  position: relative;
  left: 0px;
  top: -42px;

}

.yes{
font-size: 25px;
padding: 35px 80px 35px 80px;
font-family: 'Oswald';
}

html, body{
  margin: 0;
  padding: 0;
}

a{
  color: #000000;
  text-decoration: none;
}


/*table, div{
  margin:0;
  padding: 0;
}*/
a:hover{
  color: #ffff;
}

.mainText{
  background-color: #fff;
  display: block;


  position: relative;
  left: -500px;
  top: -40px;




  text-align: center;

  padding: 50px;
}

.stepOne{
  font-family: 'Roboto Slab';
  color: #232624;
  font-style: bold;

}

.stepOneSub{
  font-family: 'Oswald'
  color: #232624;
  margin: -5px 20px 60px 20px;
}

.mov{
  position: relative;
  right: -600px;
  top: -20px;



}

.two{
  position: relative;
  display: inline-block;
  right: -500px;

}

img.resize{
  width: 400px;
  height: 300px;

  }
  /*padding-left:100px;
padding-right: 100px;
padding-top: 100px;
